
#contentContainer {
  min-height: 600px;
  padding: 0;
  margin: 0 auto;
  background: #F2F0F0;
  h1 {
    text-align: center;
    letter-spacing: -4px;
    color: #730202;
    background: #FFAC00;
    padding: 2%;
    border-bottom: 1px solid #CC8A00;
  }
}
